.footerBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  z-index: 1;

  background: linear-gradient(
    180deg,
    var(--swm-white) 40%,
    var(--swm-blue-light-40) 80%
  );
}

.container {
  position: relative;
  margin-top: 107px;
}

[class*='footerLanding'] {
  margin-top: -107px;
}

[data-theme='dark'] .footerBackground {
  background: linear-gradient(
    180deg,
    var(--black) 30%,
    var(--swm-navy-dark-140) 100%
  );
}

@media (max-width: 996px) {
  .container {
    margin-top: 122px;
  }
  .footerBackground {
    background: linear-gradient(
      180deg,
      var(--swm-white) 70%,
      var(--swm-blue-light-40) 100%
    );
  }
  [data-theme='dark'] .footerBackground {
    background: linear-gradient(
      180deg,
      var(--black) 80%,
      var(--swm-navy-dark-140) 100%
    );
  }
  [class*='footerLanding'] {
    margin-top: -122px;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 147px;
  }
  .footerBackground {
    background: linear-gradient(
      180deg,
      var(--swm-white) 60%,
      var(--swm-blue-light-40) 80%
    );
  }
  [data-theme='dark'] .footerBackground {
    background: linear-gradient(
      180deg,
      var(--black) 70%,
      var(--swm-navy-dark-140) 100%
    );
  }
  [class*='footerLanding'] {
    margin-top: -147px;
  }
}

@media (max-width: 375px) {
  .container {
    margin-top: 173px;
  }
  [class*='footerLanding'] {
    margin-top: -173px;
  }
}
