.commandBox {
  width: 45%;
  background-color: transparent;
  border-radius: 8px;
  border: 4px solid #696969;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: stretch;
}

.commandBox :last-child {
  opacity: 0;
  margin-left: auto;
}

.commandBox:hover :last-child {
  opacity: 1;
}

.commandLabel {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.blockCursor {
  width: 0.3rem;
  background-color: var(--black);
  margin-right: 1.5rem;
  margin-left: 1rem;
}

[data-theme='dark'] .blockCursor {
  background-color: var(--swm-white);
}

@media (max-width: 996px) {
  .commandLabel {
    font-size: 22px;
    margin-bottom: 0.3rem;
  }
  .blockCursor {
    width: 0.2rem;
  }
}

@media (max-width: 700px) {
  .commandBox {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .commandBox {
    width: 80%;
  }
  .commandBox :last-child {
    display: none;
  }
  .commandLabel {
    font-size: 16px;
    margin-bottom: 0.1rem;
  }
}
